@{
    ViewData["Title"] = "Thông tin sinh viên ";
}
<h1>@ViewData["Title"]</h1>
<div class="alert alert-danger">
    <p>Mã Sinh Viên:2310900100 </p>
    <p>Họ và tên: Quách Xuân Thinh</p>
    <p>Email: congacon018@gmail.com</p>
    <p>Điện thoại : 0348959358</p>
    <p>Lop: K23CNT3-NET</p>
</div>