USE [master]
GO
/****** Object:  Database [QuachXuanThinh_2310900100_de05]    Script Date: 7/10/2025 5:17:55 PM ******/
CREATE DATABASE [QuachXuanThinh_2310900100_de05]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuachXuanThinh_2310900100_de05', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QuachXuanThinh_2310900100_de05.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuachXuanThinh_2310900100_de05_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QuachXuanThinh_2310900100_de05_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuachXuanThinh_2310900100_de05].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuachXuanThinh_2310900100_de05]
GO
/****** Object:  Table [dbo].[QxtTask]    Script Date: 7/10/2025 5:17:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QxtTask](
	[QxtTaskId] [int] IDENTITY(1,1) NOT NULL,
	[QxtTaskName] [nvarchar](255) NOT NULL,
	[QxtTaskLevel] [int] NOT NULL,
	[QxtStartDate] [datetime] NOT NULL,
	[QxtTaskStatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QxtTaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[QxtTask] ON 

INSERT [dbo].[QxtTask] ([QxtTaskId], [QxtTaskName], [QxtTaskLevel], [QxtStartDate], [QxtTaskStatus]) VALUES (2, N'Thiết kế giao diện trang chủ', 2, CAST(N'2025-07-12T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[QxtTask] ([QxtTaskId], [QxtTaskName], [QxtTaskLevel], [QxtStartDate], [QxtTaskStatus]) VALUES (3, N'Cập nhật thông tin bài viết', 3, CAST(N'2025-07-15T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[QxtTask] ([QxtTaskId], [QxtTaskName], [QxtTaskLevel], [QxtStartDate], [QxtTaskStatus]) VALUES (4, N'thinh', 5, CAST(N'2025-07-11T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[QxtTask] OFF
GO
USE [master]
GO
