USE [QuachXuanThinh_2210900088]
GO
/****** Object:  Table [dbo].[QxtEmployee]    Script Date: 7/2/2025 8:42:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QxtEmployee](
	[qxtEmpId] [int] IDENTITY(1,1) NOT NULL,
	[qxtEmpName] [nvarchar](100) NOT NULL,
	[qxtEmpLevel] [nvarchar](50) NOT NULL,
	[qxtEmpStartDate] [date] NOT NULL,
	[qxtEmpStatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[qxtEmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[QxtEmployee] ON 

INSERT [dbo].[QxtEmployee] ([qxtEmpId], [qxtEmpName], [qxtEmpLevel], [qxtEmpStartDate], [qxtEmpStatus]) VALUES (1, N'Quách Xuân Thịnh', N'Cao đẳng năm 3', CAST(N'2022-09-01' AS Date), 1)
INSERT [dbo].[QxtEmployee] ([qxtEmpId], [qxtEmpName], [qxtEmpLevel], [qxtEmpStartDate], [qxtEmpStatus]) VALUES (2, N'Lê Văn Nam', N'Cao đẳng năm 2', CAST(N'2023-01-10' AS Date), 1)
INSERT [dbo].[QxtEmployee] ([qxtEmpId], [qxtEmpName], [qxtEmpLevel], [qxtEmpStartDate], [qxtEmpStatus]) VALUES (3, N'Trần Thị Hoa', N'Cao đẳng năm 1', CAST(N'2024-05-15' AS Date), 0)
SET IDENTITY_INSERT [dbo].[QxtEmployee] OFF
GO
